@import '../../../themes/generated/variables.base';

.auth {
  &_content {
    width: 500px !important;
    margin: auto;
    border: none;

    &__header {
      display: flex;
      margin-bottom: 88px;

      img {
        height: 100px;
        margin: auto;
        pointer-events: none;
      }
    }
  }

  $text-color: #525252;

  :global {
    .dx-field-item-label-content {
      display: inline-block;
      margin: 10px 0;
      font-size: 16px;
    }

    .dx-textbox {
      background: #e7e7e7;
      border-radius: 3px;
      box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .dx-checkbox-icon {
      background: #e7e7e7;
      border: 1px solid #cdcdcd;
    }

    .dx-checkbox-text {
      font-size: 16px;
      color: $text-color;
    }

    .dx-button.dx-button-has-text {
      box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    }
  }
}
