@import 'themes/fonts';
@import './themes/generated/variables.base';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-family: 'IBM Plex Sans', 'Segoe UI', helvetica, verdana, sans-serif;

  .content-block {
    margin: 20px 40px;
  }

  div.tsqd-open-btn-container {
    right: 0;
    bottom: 50px;
    transform: scale(0.6);
    transform-origin: right;
  }

  .TanStackRouterDevtools > button {
    right: 0;
    bottom: 70px;
    transform: rotate(90deg);
    transform-origin: right top;

    div:last-child {
      font-size: 13px;
    }
  }
}

// #region Mui patches

.MuiDayCalendar-monthContainer {
  .MuiPickersDay-dayOutsideMonth {
    color: rgba(0, 0, 0, 0.38);
  }
}

// #endregion
